# Reformat CapFriendly Data

In [10]:
import pandas as pd
import glob

## 1. Load Data

In [11]:
data = []
for file in glob.glob('../data/CapData*.csv'):
    year = int(file[-8:-4])
    year_data = pd.read_csv(file)
    year_data['PLAYER'] = year_data['PLAYER'].apply(lambda x: x.split('.')[-1].strip())
    year_data['YEAR'] = year
    year_data['CAP HIT'] = year_data['CAP HIT'].str.replace(r'\$', '').replace(',', '', regex=True).astype(float)
    data.append(year_data)
data = pd.concat(data).reset_index(drop=True)

In [12]:
# Contracts per year
data.groupby('YEAR').size()

YEAR
2022    1476
2023     770
2024     401
2025     143
2026      88
2027      53
2028      22
dtype: int64

In [33]:
# Check for players with current and incoming new contract already signed
new_contract = data.groupby('PLAYER')['CAP HIT'].apply(set).reset_index()
new_contract[new_contract['CAP HIT'].apply(lambda x: len(x))>1]

                   PLAYER                 CAP HIT
187         Brayden Point  {6750000.0, 9500000.0}
222          Cal Petersen   {5000000.0, 858333.0}
255      Carter Verhaeghe  {1000000.0, 4166667.0}
304        Colton Parayko  {5500000.0, 6500000.0}
321         Connor Murphy  {3850000.0, 4400000.0}
352         Darnell Nurse  {5600000.0, 9250000.0}
429      Elvis Merzlikins  {4000000.0, 5400000.0}
433         Eric Robinson   {975000.0, 1600000.0}
646          Joel Farabee   {925000.0, 5000000.0}
862   Mackenzie Entwistle    {800000.0, 811667.0}
979          Mike Hardman    {800000.0, 912500.0}
1218            Sami Niku    {750000.0, 725000.0}
1241       Sean Couturier  {7750000.0, 4333333.0}
1247        Sebastian Aho   {725000.0, 8460250.0}
1256           Seth Jones  {5400000.0, 9500000.0}
1441     Zachary Werenski  {5000000.0, 9583333.0}

In [7]:
data = data.sort_values(['YEAR', 'PLAYER'], ascending=False).drop_duplicates(subset='PLAYER', keep='first')
data.head()

,PLAYER,TEAM,AGE,POS,HANDED,GP,A,P,P/GP,+/-,...,TOI,W,L,SO,GAA,CLAUSE,EXPIRY,CAP HIT,SALARY,YEAR
2931,Zachary Werenski,CBJ,29,LD,Left,0,0,0,0.00,0,...,NaN,-,-,-,-,M-NTC,UFA,9583333.0,"$7,250,000",2028
2949,Zach Hyman,EDM,35,"LW, RW",Right,0,0,0,0.00,0,...,NaN,-,-,-,-,M-NTC,UFA,5500000.0,"$3,900,000",2028
2939,Thomas Chabot,OTT,30,LD,Left,0,0,0,0.00,0,...,NaN,-,-,-,-,M-NTC,UFA,8000000.0,"$8,000,000",2028
2934,Seth Jones,CHI,32,RD,Right,0,0,0,0.00,0,...,NaN,-,-,-,-,NMC,UFA,9500000.0,"$7,500,000",2028
2941,Sean Couturier,PHI,34,C,Left,0,0,0,0.00,0,...,NaN,-,-,-,-,NMC,UFA,7750000.0,"$6,500,000",2028

In [8]:
data.to_csv('../data/capfriendly_data.csv', index=False)